/* Owl Carousel base styles */
/*.owl-carousel .item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.owl-carousel .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: none;
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

/* Animaciones personalizadas * /
.fadeInDown-1 {
    animation: fadeInDown 1s ease-in-out;
}

.fadeInDown-2 {
    animation: fadeInDown 1.5s ease-in-out;
}

.fadeInLeft-1 {
    animation: fadeInLeft 1s ease-in-out;
}

.fadeInLeft-2 {
    animation: fadeInLeft 1.5s ease-in-out;
}

/* Definición de keyframes * /
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
*/

#logo{
    width: 40px;
    height: 40px;
}